body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.resize100 {
    width: 100px;
    height: 100px;
}

.resize1140x450 {
    width: 1140px;
    height: 450px;
}

.resize555x300 {
    width: 555px;
    height: 300px;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

